:root{
    --color1:#c3babe;
    --color2:#151d2b;
    --color2a:#151d2bc0;
    --color3:#73747d;
    --color4:#3b4754;
    --color5:#848b9f;
    --color6:#58585f;
    --color7:#4d5a6d;
    --color8:#87a0b6;
    --color9:darkred;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    top:5rem;
    position:relative;
}

/* Start of declarations for the header section */
.nav-header{
    background-color: var(--color2a);
    backdrop-filter: blur(4px);
    display:flex;
    position: fixed;
    width:100%;
    z-index: 999;
    height: 5rem;
    justify-content: space-between;
}

.header-logo{
    margin-left:0.7rem;
}

.nav-ul{
    display:flex;
    list-style: none; 
    height:100%;
    align-items: center;
}

.nav-link{
    padding:1.5rem;
    margin: 0 1.5rem;
    color:white;
    text-decoration: none;
}
.nav-link:hover{
    background-color: #c3babe3c;
    border-radius: 5px;
    color:white;
    backdrop-filter: blur(4px);
    box-shadow: 6px 3px #3b4754 ;
}
/* End of declarations for the header section */

/* General declarations for all sections */
.section{
    
}
/* End of General declarations for all sections */

/* Start of declarations for section 1 */
.section.one{
    background-color: var(--color2);
    display:flex;
    flex-direction: column;
    width:100%;
    color:white;
    padding:3rem;
   
}


.video-text{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:2rem;
}
.video-text h1{
    text-transform: uppercase;
    text-align: center;
    width: 50%;
    padding:2rem;
    border-top:3px solid var(--color1);
    border-bottom:3px solid var(--color1);
    border-radius: 1rem;
}
.video-text video{
    width:50%;

    border-radius: 2rem;
}


.video-side{
    margin:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:2rem;
    gap:1rem;
}
.video-side h2{
    margin:4rem;
    padding:2rem;
    text-transform: uppercase;
    text-align: center;
    border:2px solid var(--color3);
    border-radius: 2rem;
    background-color: var(--color4);
}
.video-side p{
    font-size: 1.2rem;
    width:70%;
}
.video-side input{
    margin-top: 2.0rem;
    padding:0.9rem;
    width:12rem;
    position: relative;
    top:1.2rem;
    font-size: 1.3rem;
    text-transform: uppercase;
    color:var(--color2);
    background-color: var(--color8);
    box-shadow: 3px 3px 3px var(--color5);
    border:none;
    border-radius: 3rem;
}
.video-side input:hover{
    background-color: #4d5a6d;
    color:var(--color1)
}

/* End of declarations for section 1 */


/* Start of declarations for section 2 */
/* 
General declarations for section 2 */
.section.two{
    background:var(--color8);
    display: flex;
    flex-direction: column;
    
}
.section.two .sets{
    display:flex;
    overflow-x:scroll;

}
.section.two .set{
    
    margin:2rem;
    border:0.5rem solid var(--color2);
    border-radius: 2rem;
    padding:1.2rem;
    width:100dvw;
    
    
}







/* End of declarations for section 2 */


/* Start of declarations for section 3 */

.section.three{
    background-color: var(--color5);

}

/* End of declarations for section 3 */