:root{
    --color1:#c3babe;
    --color2:#151d2b;
    --color3:#73747d;
    --color4:#3b4754;
    --color5:#848b9f;
    --color6:#58585f;
    --color7:#4d5a6d;
    --color8:#87a0b6;
    --color9:darkred;
}